In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder,StandardScaler

In [2]:
df = pd.read_csv('subset_4.csv')

In [3]:
df.head()

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Silt,Barley,572.037277,38.399927,True,False,Sunny,85,5.020821
1,East,Sandy,Soybean,404.947940,30.694402,False,True,Rainy,81,4.341647
2,East,Chalky,Cotton,477.349439,38.958514,True,False,Cloudy,116,5.074730
3,North,Silt,Soybean,602.190614,35.050016,False,False,Rainy,90,3.343276
4,South,Clay,Barley,541.649569,29.028135,False,False,Sunny,98,3.690702

In [7]:
df.tail()

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
249995,West,Silt,Rice,302.805345,27.987428,False,False,Sunny,76,1.347586
249996,South,Chalky,Barley,932.991383,39.661039,True,False,Rainy,93,7.311594
249997,North,Peaty,Cotton,867.362046,24.370042,True,False,Cloudy,108,5.763182
249998,West,Silt,Wheat,492.812857,33.045505,False,False,Sunny,102,2.070159
249999,West,Sandy,Maize,180.936180,27.298847,True,False,Sunny,76,2.937243

In [9]:
df.describe()

,Rainfall_mm,Temperature_Celsius,Days_to_Harvest,Yield_tons_per_hectare
count,250000.000000,250000.000000,250000.000000,250000.000000
mean,550.073650,27.521241,104.540556,4.650480
std,259.944551,7.223897,25.935503,1.696171
min,100.011989,15.000196,60.000000,-1.147613
25%,324.354824,21.268491,82.000000,3.415619
50%,550.291128,27.517299,105.000000,4.653729
75%,775.205025,33.786351,127.000000,5.886222
max,999.991820,39.999997,149.000000,9.963372

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Region                  250000 non-null  object
 1   Soil_Type               250000 non-null  object
 2   Crop                    250000 non-null  object
 3   Rainfall_mm             250000 non-null  float64
 4   Temperature_Celsius     250000 non-null  float64
 5   Fertilizer_Used         250000 non-null  bool
 6   Irrigation_Used         250000 non-null  bool
 7   Weather_Condition       250000 non-null  object
 8   Days_to_Harvest         250000 non-null  int64
 9   Yield_tons_per_hectare  250000 non-null  float64
dtypes: bool(2), float64(3), int64(1), object(4)
memory usage: 15.7+ MB

In [13]:
df.isnull().sum()

Region                    0
Soil_Type                 0
Crop                      0
Rainfall_mm               0
Temperature_Celsius       0
Fertilizer_Used           0
Irrigation_Used           0
Weather_Condition         0
Days_to_Harvest           0
Yield_tons_per_hectare    0
dtype: int64

In [15]:
df.duplicated().sum()

0

In [17]:
df.dtypes

Region                     object
Soil_Type                  object
Crop                       object
Rainfall_mm               float64
Temperature_Celsius       float64
Fertilizer_Used              bool
Irrigation_Used              bool
Weather_Condition          object
Days_to_Harvest             int64
Yield_tons_per_hectare    float64
dtype: object

In [19]:
df = df.drop(columns=['Region'])

In [23]:
df.head(20)

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,Silt,Barley,572.037277,38.399927,True,False,Sunny,85,5.020821
1,Sandy,Soybean,404.947940,30.694402,False,True,Rainy,81,4.341647
2,Chalky,Cotton,477.349439,38.958514,True,False,Cloudy,116,5.074730
3,Silt,Soybean,602.190614,35.050016,False,False,Rainy,90,3.343276
4,Clay,Barley,541.649569,29.028135,False,False,Sunny,98,3.690702
5,Chalky,Maize,621.760065,23.922422,True,True,Rainy,77,6.134888
6,Silt,Maize,801.267932,30.147132,True,True,Cloudy,148,6.836465
7,Sandy,Cotton,381.103897,35.875358,True,True,Cloudy,137,5.449707
8,Sandy,Soybean,391.161352,34.753183,False,False,Rainy,126,3.115133
9,Clay,Wheat,393.348247,33.615893,True,True,Cloudy,73,4.805628
10,Peaty,Rice,761.700159,18.046300,False,True,Cloudy,77,5.434982
11,Sandy,Rice,215.365477,34.137881,True,False,Cloudy,132,2.970844
12,Loam,Wheat,475.370607,15.346762,True,True,Cloudy,65,4.691074
13,Chalky,Wheat,794.957785,34.150819,False,False,Cloudy,91,4.492996
14,Chalky,Wheat,459.140345,28.710511,True,False,Cloudy,66,4.353542
15,Chalky,Maize,712.608968,21.490267,False,True,Rainy,79,5.069576
16,Loam,Maize,764.059867,33.744910,True,True,Sunny,136,7.432327
17,Silt,Soybean,931.380405,35.047644,False,False,Cloudy,117,5.092476
18,Sandy,Wheat,915.736431,35.518480,False,True,Sunny,66,6.386208
19,Chalky,Maize,753.007613,34.957264,True,True,Cloudy,97,7.330355

In [25]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [27]:
df['Soil_Type'] = label_encoder.fit_transform(df['Soil_Type'])
df['Crop'] = label_encoder.fit_transform(df['Crop'])
df['Weather_Condition'] = label_encoder.fit_transform(df['Weather_Condition'])
df['Irrigation_Used'] = label_encoder.fit_transform(df['Irrigation_Used'])
df['Fertilizer_Used'] = label_encoder.fit_transform(df['Fertilizer_Used'])

In [29]:
df.head(20)

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,5,0,572.037277,38.399927,1,0,2,85,5.020821
1,4,4,404.947940,30.694402,0,1,1,81,4.341647
2,0,1,477.349439,38.958514,1,0,0,116,5.074730
3,5,4,602.190614,35.050016,0,0,1,90,3.343276
4,1,0,541.649569,29.028135,0,0,2,98,3.690702
5,0,2,621.760065,23.922422,1,1,1,77,6.134888
6,5,2,801.267932,30.147132,1,1,0,148,6.836465
7,4,1,381.103897,35.875358,1,1,0,137,5.449707
8,4,4,391.161352,34.753183,0,0,1,126,3.115133
9,1,5,393.348247,33.615893,1,1,0,73,4.805628
10,3,3,761.700159,18.046300,0,1,0,77,5.434982
11,4,3,215.365477,34.137881,1,0,0,132,2.970844
12,2,5,475.370607,15.346762,1,1,0,65,4.691074
13,0,5,794.957785,34.150819,0,0,0,91,4.492996
14,0,5,459.140345,28.710511,1,0,0,66,4.353542
15,0,2,712.608968,21.490267,0,1,1,79,5.069576
16,2,2,764.059867,33.744910,1,1,2,136,7.432327
17,5,4,931.380405,35.047644,0,0,0,117,5.092476
18,4,5,915.736431,35.518480,0,1,2,66,6.386208
19,0,2,753.007613,34.957264,1,1,0,97,7.330355

In [32]:
df1=df.copy()
df2=df.copy()

In [34]:
df2.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,5,0,572.037277,38.399927,1,0,2,85,5.020821
1,4,4,404.947940,30.694402,0,1,1,81,4.341647
2,0,1,477.349439,38.958514,1,0,0,116,5.074730
3,5,4,602.190614,35.050016,0,0,1,90,3.343276
4,1,0,541.649569,29.028135,0,0,2,98,3.690702

In [36]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the data
df3 = scaler.fit_transform(df1)

# Convert the result back to a DataFrame with column names from df2
df3 = pd.DataFrame(df3, columns=df1.columns)

# Display the standardized DataFrame
print(df3)

        Soil_Type      Crop  Rainfall_mm  Temperature_Celsius  \
0        1.458356 -1.463413     0.084494             1.505933
1        0.873269  0.879562    -0.558296             0.439260
2       -1.467076 -0.877669    -0.279769             1.583258
3        1.458356  0.879562     0.200493             1.042206
4       -0.881989 -1.463413    -0.032407             0.208599
...           ...       ...          ...                  ...
249995   1.458356  0.293818    -0.951237             0.064534
249996  -1.467076 -1.463413     1.473078             1.680509
249997   0.288183 -0.877669     1.220603            -0.436220
249998   1.458356  1.465306    -0.220281             0.764722
249999   0.873269 -0.291925    -1.420065            -0.030786

        Fertilizer_Used  Irrigation_Used  Weather_Condition  Days_to_Harvest  \
0              0.997938        -0.994710           1.223898        -0.753430
1             -1.002066         1.005318          -0.001196        -0.907659
2              0.997938        -0.994710          -1.226289         0.441845
3             -1.002066        -0.994710          -0.001196        -0.560644
4             -1.002066        -0.994710           1.223898        -0.252186
...                 ...              ...                ...              ...
249995        -1.002066        -0.994710           1.223898        -1.100446
249996         0.997938        -0.994710          -0.001196        -0.444972
249997         0.997938        -0.994710          -1.226289         0.133387
249998        -1.002066        -0.994710           1.223898        -0.097957
249999         0.997938        -0.994710           1.223898        -1.100446

        Yield_tons_per_hectare
0                     0.218340
1                    -0.182077
2                     0.250123
3                    -0.770680
4                    -0.565851
...                        ...
249995               -1.947268
249996                1.568898
249997                0.656010
249998               -1.521265
249999               -1.010063

[250000 rows x 9 columns]

In [38]:
df3.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,1.458356,-1.463413,0.084494,1.505933,0.997938,-0.994710,1.223898,-0.753430,0.218340
1,0.873269,0.879562,-0.558296,0.439260,-1.002066,1.005318,-0.001196,-0.907659,-0.182077
2,-1.467076,-0.877669,-0.279769,1.583258,0.997938,-0.994710,-1.226289,0.441845,0.250123
3,1.458356,0.879562,0.200493,1.042206,-1.002066,-0.994710,-0.001196,-0.560644,-0.770680
4,-0.881989,-1.463413,-0.032407,0.208599,-1.002066,-0.994710,1.223898,-0.252186,-0.565851

In [40]:
df.corr()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
Soil_Type,1.000000,0.003093,-0.002017,0.002635,0.002479,0.000627,0.001919,-0.000065,0.000357
Crop,0.003093,1.000000,0.003333,-0.002257,0.000822,-0.002716,-0.000826,-0.001223,0.000733
Rainfall_mm,-0.002017,0.003333,1.000000,-0.000812,-0.002004,0.000618,0.006936,-0.001477,0.765171
Temperature_Celsius,0.002635,-0.002257,-0.000812,1.000000,0.002244,-0.001973,-0.000675,-0.001423,0.085018
Fertilizer_Used,0.002479,0.000822,-0.002004,0.002244,1.000000,0.003939,0.003565,0.000506,0.440971
Irrigation_Used,0.000627,-0.002716,0.000618,-0.001973,0.003939,1.000000,0.000408,-0.001659,0.354970
Weather_Condition,0.001919,-0.000826,0.006936,-0.000675,0.003565,0.000408,1.000000,0.000169,0.006266
Days_to_Harvest,-0.000065,-0.001223,-0.001477,-0.001423,0.000506,-0.001659,0.000169,1.000000,-0.000890
Yield_tons_per_hectare,0.000357,0.000733,0.765171,0.085018,0.440971,0.354970,0.006266,-0.000890,1.000000

In [42]:
X = df3.drop(['Yield_tons_per_hectare'],axis=1)
y = df3['Yield_tons_per_hectare']

In [44]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size=0.20, random_state=5)

# LInear reggresion

In [47]:
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
reg = linear_model.LinearRegression()

In [49]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [51]:
pred = reg.predict(xtest)

In [53]:
acc = r2_score(ytest, pred)
acc

0.9129555030775311

In [55]:
rms = mean_squared_error(ytest, pred, squared=False)
rms

0.29475837119369264

In [57]:
MSE = np.square(np.subtract(ytest,pred)).mean() 
MSE

0.0868824973887587

In [59]:
from sklearn.linear_model import LinearRegression
import joblib

# Save each model
joblib.dump(reg, 'model_client_4.pkl')
print("Local model saved successfully.")

Local model saved successfully.

In [61]:
df.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,5,0,572.037277,38.399927,1,0,2,85,5.020821
1,4,4,404.947940,30.694402,0,1,1,81,4.341647
2,0,1,477.349439,38.958514,1,0,0,116,5.074730
3,5,4,602.190614,35.050016,0,0,1,90,3.343276
4,1,0,541.649569,29.028135,0,0,2,98,3.690702

In [86]:
X.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest
0,1.458356,-1.463413,0.084494,1.505933,0.997938,-0.994710,1.223898,-0.753430
1,0.873269,0.879562,-0.558296,0.439260,-1.002066,1.005318,-0.001196,-0.907659
2,-1.467076,-0.877669,-0.279769,1.583258,0.997938,-0.994710,-1.226289,0.441845
3,1.458356,0.879562,0.200493,1.042206,-1.002066,-0.994710,-0.001196,-0.560644
4,-0.881989,-1.463413,-0.032407,0.208599,-1.002066,-0.994710,1.223898,-0.252186

In [69]:
df['Soil_Type'].unique()

array([5, 4, 0, 1, 3, 2])

In [73]:
df['Crop'].unique()

array([0, 4, 1, 2, 5, 3])

In [77]:
df['Fertilizer_Used'].unique()

array([1, 0], dtype=int64)

In [81]:
df['Weather_Condition'].unique()

array([2, 1, 0])