In [2]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder,StandardScaler

In [4]:
df = pd.read_csv('subset_1.csv')

In [6]:
df.head()

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,West,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,South,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,North,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,North,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,South,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251

In [8]:
df.tail()

,Region,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
249995,East,Peaty,Soybean,361.950660,17.325910,False,True,Sunny,110,3.095497
249996,North,Peaty,Wheat,737.685255,36.685394,True,False,Cloudy,61,6.044170
249997,South,Sandy,Cotton,649.794533,34.168921,False,True,Rainy,86,5.114321
249998,South,Clay,Cotton,665.270835,19.720276,True,True,Rainy,109,6.763628
249999,South,Loam,Rice,384.686624,18.821572,True,False,Rainy,134,4.284467

In [10]:
df.describe()

,Rainfall_mm,Temperature_Celsius,Days_to_Harvest,Yield_tons_per_hectare
count,250000.000000,250000.000000,250000.000000,250000.000000
mean,549.779236,27.516425,104.417064,4.648321
std,259.633175,7.212760,25.955176,1.695283
min,100.006387,15.000126,60.000000,-0.841617
25%,324.809275,21.265774,82.000000,3.418742
50%,550.449788,27.558672,104.000000,4.649908
75%,773.535543,33.764054,127.000000,5.874230
max,999.996116,39.999700,149.000000,9.727004

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Region                  250000 non-null  object
 1   Soil_Type               250000 non-null  object
 2   Crop                    250000 non-null  object
 3   Rainfall_mm             250000 non-null  float64
 4   Temperature_Celsius     250000 non-null  float64
 5   Fertilizer_Used         250000 non-null  bool
 6   Irrigation_Used         250000 non-null  bool
 7   Weather_Condition       250000 non-null  object
 8   Days_to_Harvest         250000 non-null  int64
 9   Yield_tons_per_hectare  250000 non-null  float64
dtypes: bool(2), float64(3), int64(1), object(4)
memory usage: 15.7+ MB

In [14]:
df.isnull().sum()

Region                    0
Soil_Type                 0
Crop                      0
Rainfall_mm               0
Temperature_Celsius       0
Fertilizer_Used           0
Irrigation_Used           0
Weather_Condition         0
Days_to_Harvest           0
Yield_tons_per_hectare    0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [18]:
df.dtypes

Region                     object
Soil_Type                  object
Crop                       object
Rainfall_mm               float64
Temperature_Celsius       float64
Fertilizer_Used              bool
Irrigation_Used              bool
Weather_Condition          object
Days_to_Harvest             int64
Yield_tons_per_hectare    float64
dtype: object

In [20]:
df = df.drop(columns=['Region'])

In [22]:
df.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,Sandy,Cotton,897.077239,27.676966,False,True,Cloudy,122,6.555816
1,Clay,Rice,992.673282,18.026142,True,True,Rainy,140,8.527341
2,Loam,Barley,147.998025,29.794042,False,False,Sunny,106,1.127443
3,Sandy,Soybean,986.866331,16.644190,False,True,Rainy,146,6.517573
4,Silt,Wheat,730.379174,31.620687,True,True,Cloudy,110,7.248251

In [24]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [26]:
df['Soil_Type'] = label_encoder.fit_transform(df['Soil_Type'])
df['Crop'] = label_encoder.fit_transform(df['Crop'])
df['Weather_Condition'] = label_encoder.fit_transform(df['Weather_Condition'])
df['Irrigation_Used'] = label_encoder.fit_transform(df['Irrigation_Used'])
df['Fertilizer_Used'] = label_encoder.fit_transform(df['Fertilizer_Used'])

In [28]:
df.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,4,1,897.077239,27.676966,0,1,0,122,6.555816
1,1,3,992.673282,18.026142,1,1,1,140,8.527341
2,2,0,147.998025,29.794042,0,0,2,106,1.127443
3,4,4,986.866331,16.644190,0,1,1,146,6.517573
4,5,5,730.379174,31.620687,1,1,0,110,7.248251

In [44]:
df1=df.copy()
df2=df.copy()

In [46]:
df2.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,4,1,897.077239,27.676966,0,1,0,122,6.555816
1,1,3,992.673282,18.026142,1,1,1,140,8.527341
2,2,0,147.998025,29.794042,0,0,2,106,1.127443
3,4,4,986.866331,16.644190,0,1,1,146,6.517573
4,5,5,730.379174,31.620687,1,1,0,110,7.248251

In [52]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the data
df3 = scaler.fit_transform(df1)

# Convert the result back to a DataFrame with column names from df2
df3 = pd.DataFrame(df3, columns=df1.columns)

# Display the standardized DataFrame
print(df3)

        Soil_Type      Crop  Rainfall_mm  Temperature_Celsius  \
0        0.878477 -0.880705     1.337651             0.022258
1       -0.878927  0.291521     1.705849            -1.315766
2       -0.293126 -1.466818    -1.547499             0.315777
3        0.878477  0.877634     1.683483            -1.507364
4        1.464279  1.463746     0.695598             0.569029
...           ...       ...          ...                  ...
249995   0.292676  0.877634    -0.723440            -1.412848
249996   0.292676  1.463746     0.723738             1.271218
249997   0.878477 -0.880705     0.385218             0.922325
249998  -0.878927 -0.880705     0.444827            -1.080885
249999  -0.293126  0.291521    -0.635870            -1.205484

        Fertilizer_Used  Irrigation_Used  Weather_Condition  Days_to_Harvest  \
0             -0.999544         1.000544          -1.226737         0.677436
1              1.000456         1.000544          -0.002361         1.370941
2             -0.999544        -0.999456           1.222016         0.060987
3             -0.999544         1.000544          -0.002361         1.602109
4              1.000456         1.000544          -1.226737         0.215100
...                 ...              ...                ...              ...
249995        -0.999544         1.000544           1.222016         0.215100
249996         1.000456        -0.999456          -1.226737        -1.672774
249997        -0.999544         1.000544          -0.002361        -0.709573
249998         1.000456         1.000544          -0.002361         0.176572
249999         1.000456        -0.999456          -0.002361         1.139772

        Yield_tons_per_hectare
0                     1.125180
1                     2.288130
2                    -2.076871
3                     1.102621
4                     1.533629
...                        ...
249995               -0.915969
249996                0.823374
249997                0.274881
249998                1.247763
249999               -0.214628

[250000 rows x 9 columns]

In [54]:
df3.head()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
0,0.878477,-0.880705,1.337651,0.022258,-0.999544,1.000544,-1.226737,0.677436,1.125180
1,-0.878927,0.291521,1.705849,-1.315766,1.000456,1.000544,-0.002361,1.370941,2.288130
2,-0.293126,-1.466818,-1.547499,0.315777,-0.999544,-0.999456,1.222016,0.060987,-2.076871
3,0.878477,0.877634,1.683483,-1.507364,-0.999544,1.000544,-0.002361,1.602109,1.102621
4,1.464279,1.463746,0.695598,0.569029,1.000456,1.000544,-1.226737,0.215100,1.533629

In [58]:
df.corr()

,Soil_Type,Crop,Rainfall_mm,Temperature_Celsius,Fertilizer_Used,Irrigation_Used,Weather_Condition,Days_to_Harvest,Yield_tons_per_hectare
Soil_Type,1.000000,-0.002782,-0.000979,-0.001628,0.001647,-0.001785,0.002355,0.001663,-0.000592
Crop,-0.002782,1.000000,-0.001695,0.000572,0.000441,-0.000831,-0.002604,0.001267,-0.002111
Rainfall_mm,-0.000979,-0.001695,1.000000,-0.001210,0.002450,-0.002884,-0.000387,-0.002661,0.764460
Temperature_Celsius,-0.001628,0.000572,-0.001210,1.000000,0.001487,0.002442,-0.001953,0.000931,0.085515
Fertilizer_Used,0.001647,0.000441,0.002450,0.001487,1.000000,0.001256,0.000775,0.000700,0.444764
Irrigation_Used,-0.001785,-0.000831,-0.002884,0.002442,0.001256,1.000000,-0.001155,-0.002123,0.352328
Weather_Condition,0.002355,-0.002604,-0.000387,-0.001953,0.000775,-0.001155,1.000000,0.000537,-0.000201
Days_to_Harvest,0.001663,0.001267,-0.002661,0.000931,0.000700,-0.002123,0.000537,1.000000,-0.001872
Yield_tons_per_hectare,-0.000592,-0.002111,0.764460,0.085515,0.444764,0.352328,-0.000201,-0.001872,1.000000

In [61]:
X = df3.drop(['Yield_tons_per_hectare'],axis=1)
y = df3['Yield_tons_per_hectare']

In [68]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size=0.20, random_state=5)

# LInear reggresion

In [88]:
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
reg = linear_model.LinearRegression()

In [76]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [79]:
pred = reg.predict(xtest)

In [85]:
acc = r2_score(ytest, pred)
acc

0.913148911981898

In [92]:
rms = mean_squared_error(ytest, pred, squared=False)
rms

0.29473679166733185

In [95]:
MSE = np.square(np.subtract(ytest,pred)).mean() 
MSE

0.08686977636235217

# SVM

In [ ]:
from sklearn import svm
svr = svm.SVR()